* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2C3A47;
}

p {
    color: #6D214F;
}

a {
    color: white;
}

.height-auto {
    height: auto;
}

.top-border-custom {
    border-top: #d1d8e0 1px solid;
}

.navbar {
    border-bottom: white 3px solid;
    opacity: 0.8;
}

.bg-custom {
    background: rgb(61, 0, 113);
    background-image: linear-gradient(109.6deg, rgba(74, 117, 242, 1) 11.2%, rgba(113, 76, 242, 1) 91.3%);
}

.section {
    /* border-bottom: #d1d8e0 1px solid; */
    padding-top: 30px;
    padding-bottom: 30px;
}

#home {
    height: auto;
    padding-top: 120px;
}

.testimonial-inner {
    border: 2px solid #f5f6fa;
    background-color: #f5f6fa;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

#main-footer {
    padding-top: 5px;
    padding-bottom: 5px;
}






